<br>
<div class="container content">

    <h1>Edit Note: "<%=@note.title%>" </h1>

    <%= render 'form', note: @note %>

    <%= link_to 'Back to Note', @note, class:"button is-primary" %>
    <%= link_to 'View All Notes', notes_path, class:"button is-warning" %>

</div>
