<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <h6>
        <img src="http://i.imgur.com/CiHuxJE.png?1" width="200">
        <br>
        Take notes. Never worry about them again.
        <br><br>
        <i>telder.app@gmail.com</i>
      </h6>
      <p>
        <a class="icon" href="https://github.com/jonathanlimes/telder">
          <i class="fa fa-github is-primary"></i>
        </a>
        <a class="icon" href="mailto:jonathanlimes@gmail.com">
          <i class="fa fa-envelope-o"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
