<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Telder</strong>
        <br>
        We'll find you your needle in the haystack. Write away.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
