<section class="hero is-primary is-large is-bold">
  <div class="hero-body">
    <div class="container">
    <div class="column">
      <h1 class="title"><b>Take notes. Never worry about them again.</b></h1>
      <h3 class="subtitle">Telder summarizes and sorts your notes. Edit notes real-time with your team. Speed up your work.</h3>
    </div>
  </div>
  </div>
</section>
