<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container content">
      <h1 class="title">
        Telder
      </h1>
      <h3 class="subtitle">
        Take notes. Then get the 1-minute read.
      </h3>
    </div>
  </div>
</section>
