<section class="hero is-primary is-large is-bold">
  <div class="hero-body">
    <div class="container">
    <div class="column">
      <h1 class="title"><b>Take notes. Never worry about them again.</b></h1>
      <h3 class="subtitle">Telder summarizes and sorts your notes. Edit notes real-time with your team. Speed up your work.</h3>
    </div>
  </div>
  </div>
</section>

<div class="section main">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="panel">
          <div class="panel-block section">
            <h3>Summarization and auto-tagging. Never sort notes again.</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <div class="panel-block section">
            <h3>Fluid collaboration: Real-time text editor and sharing functions.</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <div class="panel-block section">
            <h3>PDF and Email exporting for convenience.</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <div class="panel-block section">
            <h3>Encrypted note IDs. Your notes stay secure.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
