<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset="utf-8" http-equiv="Content-Type">
  </head>
  <body>

    <h1><%= @note.title %></h1>
    <br><br>
    Summary: <p><%= @note.summary %></p>
    <br><br>
    Long Text: <p><%= @note.text %><p>
    <i>Location: <%= @note.location %></i>

    <br><br>
    Yours,
    <br>
    Telder

  </body>
</html>
